.header{
    position:absolute;
    width:100%;
    top:0;
    left:0;
    z-index:999;
    padding:20px 0;
}

.container-h{
    width:min(var(--container-width), calc(100% - 30px));
    margin:auto;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo img{
    width:160px;
}

.nav-links{
    display:flex;
    gap:40px;
}

.nav-links a{
    color:#fff;
    font-size:15px;
    font-weight:600;
    transition:.3s;
}

.nav-links a:hover{
    color:var(--secondary);
}
