.reviews{
    padding: 100px 0;
}

.reviews-grid{
    display: flex;
    gap: 24px;
    overflow: hidden;
    transition: transform .5s ease;
}

.review-card{
    flex: 0 0 calc((100% - 48px) / 4);
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #DCE8FF;
    box-shadow: 0 5px 15px rgba(0,0,0,.05);
}

.stars{
    color:#FFC928;
    font-size:20px;
    margin-bottom:20px;
}

.review-card p{
    color:var(--text-light);
    line-height:1.8;
    margin-bottom:25px;
}

.review-user{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
}

.review-user img{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
}

.review-dots{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
    margin-top:40px;
}

.dot{
    width:12px;
    height:12px;
    border-radius:50%;
    background:#DCE8FF;
    cursor:pointer;
    transition:.3s;
}

.dot.active{
    width:32px;
    border-radius:30px;
    background:#0D5BDB;
}