.reviews{
    padding-top:100px;
}

.reviews-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.review-card{
    background:#fff;
    border:1px solid #eee;
    border-radius:18px;
    padding:30px;
    text-align:center;
}

.stars{
    color:#FFC928;
    font-size:20px;
    margin-bottom:20px;
}

.review-card p{
    color:var(--text-light);
    line-height:1.8;
    margin-bottom:25px;
}

.review-user{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
}

.review-user img{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
}